/* header.css */
.header-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background: white;
  display: flex;
  align-items: center;
  transition: padding-left 0.3s ease; /* Silliq surilish uchun */
  z-index: 10;
  border-bottom: 1px solid #ddd;
}

/* Sidebar ochiq bo'lgandagi masofa */

/* Sidebar yopiq bo'lgandagi masofa */


.page-title {
  font-family: 'Poppins', sans-serif;
  color: var(--primary-color);
  margin-left: 15px; /* Sidebardan keyin qo'shimcha bo'shliq */
}
.page-title {
  font-family: 'Poppins', sans-serif;
  color: var(--primary-color);
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-20);
  margin: 0;
  text-transform: capitalize;
}

.header-wrapper {
  display: flex;
  align-items: center;
}